body{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}
.headings{
    width: 100%;
    height: 731px;
    position: relative;
    overflow: hidden;
}

.headings img{
    width: 100%;
    height: 731px;
    object-fit: cover;
}
.header{
    position: absolute;
}

.header p{
    margin: 20px 0px 20px 50px;
    font-size: 32px;
    color: white;
    font-family: sansation;
}

.header h1{
    margin: 220px 0px 20px 50px;
    font-size: 96px;
    color: transparent;
    font-family: "Urbanist", sans-serif;
    font-weight: 50;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
}

.header-button{
    position: absolute;
}

.food-button{
    width: 271px;
    height: 67px;
    margin:570px 30px 10px 1200px;
    border-radius: 50px;
    color: white;
    background-color: #B47171;
    border: none;
    opacity: 80%;
}

.food-button a{
    color: white;
    font-size: 24px;
    font-family: sansation;
    text-decoration: none;
}

.food-button:hover{
    background-color: rgba(174, 90, 90, 0.9);
}

.restaurant-button:hover{
    background-color:rgba(194, 186, 186, 0.9);
}

.restaurant-button{
    width: 271px;
    height: 67px;
    margin:5px 30px 10px 1200px;
    color: #B47171;
    background-color: white;
    border:none;
    opacity: 80%;
    border-radius: 50px;
    font-size: 24px;
    font-family: sansation;
    text-decoration: none;
}

.restaurant-button a{
    color: #B47171;
    font-size: 24px;
    font-family: sansation;
    text-decoration: none;
}
.food-text{
    justify-content: center;
    text-align: center;
}

.food-text h1{
    margin: 100px 0 0 0;
    font-family: sansation;
}

.food-text p{
    margin-top: 0;
    font-family: sansation;
}

.restaurant-title{
    justify-content: center;
    text-align: center;
}

.restaurant-title h1{
    margin-bottom: 5px;
    font-family: sansation;
}

.restaurant-title p{
    margin-top: 5px;
    font-family: sansation;
}

.food-cards1{
    display: flex;
    position: relative;
    height: 461px;
    justify-content: space-evenly;
    margin-top: 190px;
}

.hover:hover{
    transform: scale(1.02);
}

.food-cards2{
    display: flex;
    height: 461px;
    justify-content: space-evenly;
    margin-top: 190px;
}

.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.image-container img{
    width: 245px;
    height: 245px;
    border: 10px solid rgba(120, 192, 168, 1);
    border-radius: 50%;
    position: absolute;
    object-fit: cover;
    transform: translateY(-10%);
    box-shadow: 0 2px 8px  rgba(120, 192, 168, 1);
}

.image-container2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.image-container2 img{
    width: 245px;
    height: 245px;
    border: 10px solid rgba(237, 181, 181, 1);;
    border-radius: 50%;
    position: absolute;
    object-fit: cover;
    transform: translateY(-10%);
}

.cards1{
    width: 330px;
    height: 330px;
    border-radius: 58px;
    text-align: center;
    border: 1px solid rgba(120, 192, 168, 1);
    box-shadow: 0 4px 4px  rgba(120, 192, 168, 1), 0 8px 8px rgba(120, 192, 168, 1);
    overflow: hidden;
}


.cards-content{
    width: 330px;
    height: 330px;
    transform: translateY(30%);
    padding: 0;
    margin: 0;
}

.cards-content h3{
    margin-bottom: 0;
    font-size: 24px;
    padding-bottom: 0;
    font-family: sansation;
}

.cards-content p{
    text-align: left;
    margin: 10px 0 0 40px;
    font-size: 16px;
    font-family: sansation;
    width: 253px;
}

.cards1 button{
    width: 121px;
    height: 41px;
    border: none;
    border-radius: 66px;
    background-color: rgba(120, 192, 168, 1);
    color: white;
}

.cards1 button:hover{
    background-color: rgba(76, 176, 142, 1);
}

.cards2{
    width: 330px;
    height: 330px;
    border-radius: 58px;
    text-align: center;
    border: 1px solid rgba(237, 181, 181, 1);
    box-shadow: 0 4px 4px  rgba(237, 181, 181, 1), 0 8px 8px  rgba(237, 181, 181, 1);
    
}

.cards2 button{
    width: 121px;
    height: 41px;
    border: none;
    border-radius: 66px;
    color: white;
    background-color: rgba(237, 181, 181, 1);
}

.cards2 button:hover{
    background-color: rgba(231, 152, 152, 1);
}
.restaurants{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

.restaurants-content{
    width: 394px;
    height: 400px;
}

.restaurants-content h1{
    font-size: 24px;
    margin-bottom: 0;
    margin-top: 0;
    font-family: sansation;
}

.restaurants-content p{
    font-size: 16px;
    margin-bottom: 0;
    margin-top: 0;
    font-family: sansation;
}

.restaurants-content img{
    width: 394px;
    height: 275px;
}

.card-details{
    display: none;
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    width: 100%; 
    height: 100%;
    transition: opacity 0.5s; 
}

.show-card1{
    display: flex;
    width: 875px;
    height: 485px;
    background-color: white;
    border: none;
    border-radius: 24px;
    margin: auto;
}

.show-card-content{
    background-color: white;
}
.show-card1 img{
    width: 322px;
    height: 485px;
    object-fit: cover;
    border: none;
    border-radius: 24px 0 0 24px;
}


.show-card-content h2{
    color: rgba(120, 192, 168, 1);
    text-align: left;
    font-size: 40px;
    font-family: sansation;
    margin: 30px 10px 0 50px;
}

.show-card-content p{
    color: rgba(120, 192, 168, 1);
    text-align: left;
    font-size: 20px;
    font-family: sansation;
    width: 465px;
    margin: 0 10px 0 50px;
}

.show-card-content button{
    width: 121px;
    height: 42px;
    color: white;
    background-color: rgba(120, 192, 168, 1);
    border: none;
    border-radius: 66px;
    font-family: sansation;
    float: right;
}

.show-card-content button:hover{
    background-color: rgba(76, 176, 142, 1);
}

.show-card-content2 h2{
    color: rgba(237, 181, 181, 1);
    text-align: left;
    font-size: 40px;
    font-family: sansation;
    margin: 40px 10px 0 50px;
}

.show-card-content2 p{
    color: rgba(237, 181, 181, 1);
    text-align: left;
    font-size: 20px;
    font-family: sansation;
    width: 465px;
    margin: 0 10px 0 50px;
}

.show-card-content2 button{
    width: 121px;
    height: 42px;
    color: white;
    background-color: rgba(237, 181, 181, 1);
    border: none;
    border-radius: 66px;
    font-family: sansation;
    float: right;
}

.show-card-content2 button:hover{
    background-color: rgba(231, 152, 152, 1);
}
@font-face {
    font-family: sansation;
    src: url(../Assets/Sansation_Regular.ttf);
}